.fullScreen{
  display: flex;
  flex-direction: column;
  color:inherit;
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  margin-top: 5vh;
  min-height: 100vh;
  width: auto;
  height: auto;
}
.skill-bar {
  position: relative;
  height: 20px;
  width: 40vw;
  border-radius: 25px;
  border: 1px solid #263238;
}

.filler{
  background: #263238;
  height: 100%;
  border-radius: inherit;
  transition: width 3s easein;
}
