.fullScreen{
  display: flex;
  position: relative;
  min-height: 100vh;
  flex-direction: column;
  color:inherit;
  margin-top: 20vh;
  padding-right: 15px;
  padding-left: 15px;
  width: auto;
  height: auto;
  background-color: #263238;
}
