.nav-style {
  top: 0;
  left: 0;
  width: 100%;
  padding: 0px;
  margin: 0px;
  min-width: 100%;
  justify-content: center;
  height: auto;
  background-color:#263238;
  font-family: monospace;
  font-weight: bold;
  color: white;
  z-index: 100;
  transition: 0.4s;
}
.navbar {
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  transition: top 0.6s;
  top: 0;
  left: 0;
  width: 100%;
  min-width: 100%;
  padding: 10px;
  height: auto;
  margin:'0px';
  background-color:#263238;
  font-family: monospace;
  font-weight: bold;
  color: white;
  z-index: 100;
}

.navbar--hidden {
  top: -200px;
}

.wrapper{
  background:'#263238';
}
.border{
  
  border-radius: 5px;
  border-color: white;
  border-width: thick;
  border-style: solid;

}
